{% extends "base.html" %}

{% block title %}CleanMyPlex{% endblock %}

{% block content %}
    <h2>Choisissez une action:</h2>
    <div class="list-group">
        <a href="{{ url_for('clean') }}" class="list-group-item list-group-item-action">Nettoyage de vos films/séries</a>
        <a href="{{ url_for('duplicates') }}" class="list-group-item list-group-item-action">Vérifier les doublons entre serveurs Plex</a>
        <a href="{{ url_for('manage_users') }}" class="list-group-item list-group-item-action">Gestion des utilisateurs</a>
    </div>
{% endblock %}

{% block scripts %}
    {% if tasks_list %}
    <script>
        $(document).ready(function() {
            var tasks = {{ tasks_list | tojson }};
            tasks.forEach(function(task_id) {
                checkTaskStatus(task_id);
            });

            function checkTaskStatus(task_id) {
                var url = "{{ url_for('task_status', task_id='') }}" + task_id;
                $.getJSON(url, function(data) {
                    if (data.status === 'running') {
                        // Optionnel : vous pouvez afficher une animation de chargement ou un message dans la console
                        setTimeout(function() {
                            checkTaskStatus(task_id);
                        }, 2000);
                    } else {
                        if (data.status === 'completed') {
                            showNotification('success', data.message);
                        } else if (data.status === 'failed') {
                            showNotification('danger', data.message);
                        } else if (data.status === 'completed_with_errors') {
                            showNotification('warning', data.message);
                        }
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("Erreur lors de la requête AJAX pour la tâche " + task_id + ": " + textStatus, errorThrown);
                });
            }

            function showNotification(type, message) {
                var alertDiv = $('<div class="alert alert-' + type + ' alert-dismissible fade show mt-3" role="alert">' +
                                 message +
                                 '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                                 '</div>');
                $('#dynamic-notifications').append(alertDiv);
            }
        });
    </script>
    {% endif %}
{% endblock %}
