{% extends "base.html" %}

{% block title %}CleanMyPlex{% endblock %}

{% block content %}
    <h2>Choisissez une action:</h2>
    <div class="list-group">
        <a href="{{ url_for('clean') }}" class="list-group-item list-group-item-action">Nettoyage de vos films/séries</a>
        <a href="{{ url_for('duplicates') }}" class="list-group-item list-group-item-action">Vérifier les doublons entre serveurs Plex</a>
        <a href="{{ url_for('manage_users') }}" class="list-group-item list-group-item-action">Gestion des utilisateurs</a>
    </div>

    {% if tasks_list %}
        <div id="tasksStatus">
            {% for task_id in tasks_list %}
                <div id="task_{{ task_id }}">
                    <p>Tâche en cours : <span class="task-message">Initialisation...</span></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if tasks_list %}
    <script>
        $(document).ready(function() {
            {% for task_id in tasks_list %}
                function checkTaskStatus_{{ task_id }}() {
                    $.getJSON("{{ url_for('task_status', task_id=task_id) }}", function(data) {
                        if (data.status === 'running') {
                            $("#task_{{ task_id }} .task-message").text(data.message);
                            setTimeout(checkTaskStatus_{{ task_id }}, 2000);
                        } else {
                            $("#task_{{ task_id }} .task-message").text(data.message);
                            if (data.status === 'completed') {
                                $("#task_{{ task_id }}").addClass('alert alert-success');
                            } else if (data.status === 'failed') {
                                $("#task_{{ task_id }}").addClass('alert alert-danger');
                            } else if (data.status === 'completed_with_errors') {
                                $("#task_{{ task_id }}").addClass('alert alert-warning');
                            }
                        }
                    });
                }
                checkTaskStatus_{{ task_id }}();
            {% endfor %}
        });
    </script>
    {% endif %}
{% endblock %}
