{% extends "base.html" %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block content %}
<h2>Liste des utilisateurs Plex</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Adresse email</th>
                <th>Titre complet</th>
                <th>ID utilisateur</th>
                <th>Membre de Plex Home</th>
                <th>Rôle</th>
                <th>Actif</th> <!-- Affichage si l'utilisateur est actuellement actif -->
                <th>Adresse IP publique</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{{ url_for('user_details', username=user.username) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.title }}</td>
                <td>{{ user.userID }}</td>
                <td>{{ user.homeUser }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.is_active }}</td> <!-- Oui ou Non pour l'activité -->
                <td>{{ user.publicAddress }}</td> <!-- Adresse IP publique si disponible -->
                <td><a href="{{ url_for('user_details', username=user.username) }}" class="btn btn-info btn-sm">Détails</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
